.clear,.area,.pp,.pt{zoom:1}
.pp,.pt,.list12 ul,.list14 ul,.area{width:100%;margin:0 auto;}
.pp:after,.pt:after,.area:after,.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

	#login_bg{ position:absolute; z-index:-1;}
	#login_bg img{opacity: 0;filter:alpha(opacity=0);}

	#login_box{ position:absolute; background:url(/images/admin_img/login_box.png) no-repeat; background-size: 460px; width:460px; height:360px;}
		#login_box .b{ width:360px; margin:0 auto; padding-top:30px;}
		#login_box .c{ width:360px; margin:0 auto; padding-top:5px;}
		#login_box .b h2{ height:20px; line-height:20px;  font-size:16px;}
		#login_box .b div{ width:360px; height:48px; margin-top:20px;}
		#login_box .c span{ width:360px; height:20px; margin-top:5px; color: #ff5454}
		#login_box .b div input{ width:290px; height:46px; line-height:46px; margin-left:50px; padding-left: 10px; padding-right: 10px; background:none; border:none; font-family:"Times New Roman";font-size:18px; color:#4c4c4c;}
		.user{ background:url(/images/admin_img/user.png) no-repeat;}
		.psw{ background:url(/images/admin_img/psw.png) no-repeat;}
		.verifyCode{ background:url(/images/admin_img/verifyCode.png) no-repeat;}
		#login_box .b  .user.error { background:url(/images/admin_img/user_error.png) no-repeat;}
		#login_box .b .psw.error { background:url(/images/admin_img/pwd_error.png) no-repeat;}
		#login_box .b .verifyCode.error { background:url(/images/admin_img/verifyCode_error.png) no-repeat;}
		.submit{ background:url(/images/admin_img/login_btn.png) no-repeat; width:360px; height:48px; border:none; cursor:pointer; margin-top:16px;}
		#login_box .b .verifyCode input{ width: 130px;}
		.verifyCode {overflow: hidden;}
		#login_box .verifyCode div { float: left; margin-top: 0;}
		#login_box .verifyCode div:first-child{ width: 240px;}
		#login_box .verifyCode div:last-child{ width: 120px;}

#header{ height:80px;background: #3c86c5 url(/images/admin_img/hdbg.gif) no-repeat right top; overflow:hidden;}
	#header .logo{ width:136px; margin-right:10px; height:80px; text-align: center;}
	#header .logo img{height:70px; width: auto; margin-top: 5px;}
	#header .navText{ height:20px; padding:16px 0 0 6px;}
	#header .nav{ height:34px; margin-top:10px;}
	#header .nav li{ float:left; background:url(/images/admin_img/nav_bg.png); padding:0 0 0 8px; height:100%;}
	#header .nav li a{ display:block; height:34px; line-height:38px; background:url(/images/admin_img/nav_bg.png) right top;   padding: 0 15px 0 7px; font-weight:700; font-size:14px; overflow:hidden; float:left;}
	#header .nav li.nav_on {background-position: left -43px;}
	#header .nav li.nav_on a {background-position: right -43px;color: #367ABB;}
	
#Content{ width:auto; height:auto;}
	#Content .subNav{overflow: hidden; padding: 5px 0 10px 0; position: relative;width: 150px;}
	#Scroll { float: left; overflow: scroll;padding: 0 5px 0 5px;width: 140px;}
	#Scroll dl{ margin-bottom:10px;}
	#Scroll dt{ border: 1px solid #D9E4EA; background: #275D96; color:#FEFEFE; font-weight: 700;height: 24px;line-height: 24px;margin-bottom: 5px; text-align:center; font-size:14px;}
	#Scroll dd { margin-right:1px;}
	#Scroll dd a{ background-color: #F7FBFC; display: block;line-height: 24px;padding-left: 8px;text-decoration: none;}
	#Scroll dd a:hover{background: url(/images/admin_img/left_menu.png) no-repeat scroll  left -38px ;margin-right: 6px;text-decoration: none; color:#000;}
	#Scroll .on{ background:url(/images/admin_img/left_menu.png) no-repeat scroll 0 0; padding-left:20px;}
	#Scroll .on a{background: none ;display: block;height: 29px;line-height: 29px;padding: 0; color:#004499; font-weight:bold;}
	#Scroll .on a:hover{ background:none;}
	#openClose{ width:8px;display: block; position:absolute; right: 0; top: 0;  }
	.open{background:url(/images/admin_img/left_menu_openClose.png) 3px center no-repeat;}
	.close{background:url(/images/admin_img/left_menu_openClose.png)  right center no-repeat;}
	#Content .open:hover{ background-color: #D6E1E4;}
	#Main .msg{; height: 22px; padding: 6px 0 0 18px; background:url(/images/admin_img/icon_use.png) left -18px no-repeat;}
	#Main  #box{ border:1px solid #F4F6F5; background:#fff;}
	#box .content{ border:1px solid #C2D1D8;}

#MainBox{ padding:10px;color:#444;font: 12px/1.5 tahoma,arial,宋体,sans-serif;}
	#MainBox h3{ background:#EEE;border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;font-size: 14px; height: 30px; line-height: 30px;margin-bottom: 10px;overflow: hidden;padding-left: 15px;}
	#MainBox h3 b{ color: #3865B8; line-height:24px;}
	#MainBox h3 span{font-size: 10px;margin-left: 10px; color:#ccc;}
	#MainBox .list ul{ border:1px solid #ddd; border-bottom:none;}
	#MainBox .list li{ border-bottom: 1px solid #ddd;color: #777;height: 26px; line-height: 26px;overflow: hidden;padding-left: 5px;}
	#MainBox .list li span{ display:block; float:left; width:100px;}
	#MainBox .list{ width:49.3%;height: 191px;}
	#MainBox .first{margin: 5px 15px 0 0;}
	#MainBox #sitestats { margin-top:5px;}
	#MainBox #sitestats div { border: 1px solid #ddd;overflow: hidden; width:99.8%;}
	#MainBox #sitestats ul { height: 132px;overflow: hidden; padding: 2px 0 0 2px;width: 102%; border:none;}	
	#MainBox #sitestats ul li { border:none;border-right: 1px solid #fff; float: left;height: 44px; text-align: center;width: 15.1%;}
	#MainBox #sitestats ul li b {background: #efefef;color: #777777;float: left;font-weight: normal;height: 21px; line-height: 22px;width: 100%;}
	#MainBox #sitestats ul li span { background: #F8F8F8;color: #3865B8; float: left;height: 21px;line-height: 21px;overflow: hidden;width: 100%;}

#admin_List{}
	#admin_List .subNav,#admin_page .subNav{ padding:10px;}
		#admin_List .subNav .add,#admin_page .subNav .add{ padding:0 0 0 5px; float:left;background: url(/images/admin_img/bnt_bg.png) no-repeat; height: 28px;line-height: 28px; padding-bottom:5px; margin-right:5px;}
		#admin_List .subNav .add em,#admin_page .subNav .add em{color: #FFFFFF;padding: 0 10px 0 5px;background: url(/images/admin_img/bnt_bg.png) right top no-repeat; font-style:normal; display:block;}
	#admin_List .search,#MainBox .search{ padding: 0 10px; margin-bottom:10px;}
	#admin_List .search_box,#MainBox .search_box{background:#FFFCED; border:1px solid #FFBE7A; line-height:20px; padding:8px 10px;}
	#admin_List .search_box .input-text{}
	.input-text, .measure-input, textarea, input.date, input.endDate, .input-focus { background: url(/images/admin_img/input.png) repeat-x #FFFFFF; border: 1px solid #D0D0D0; font-family: Verdana,Geneva,sans-serif;font-size: 12px; height: 25px;margin: 0 5px 0 0;padding: 2px 5px 2px 5px; vertical-align:middle; line-height:20px;}
	select { background: none repeat scroll 0 0 #F9F9F9; border-color: #666666 #CCCCCC #CCCCCC #666666;border-style: solid;border-width: 1px;color: #333333;padding: 2px; vertical-align: middle;}
	.button {background: #ddd; border-color:#666 ;border-style: none solid solid none;border-width: 0 1px 1px 0;height: 24px; margin-right: 5px;padding: 3px 6px; cursor:pointer; line-height:20px;}
	#admin_List .List{ padding:0 10px;}
	#admin_List  td,#admin_List  th{padding-left:12px;vertical-align: middle; border-bottom:1px solid #eee;}
	#admin_List  tr:hover{ background:#FBFFE4;}
	#admin_List .List thead th{ height:30px; border-bottom:1px solid #D5DFE8; background:#EEF3F7}
	#admin_List .List tbody td { padding:5px 0 5px 12px;}
	#admin_List .List .edit{ padding:10px;}
        #admin_List table.pageTable{border: none; width: 100%;}
        #admin_List table.pageTable tbody td{background: none; border: none;}
        #admin_List table.pageTable tr:hover{background: none;}
	#pages {text-align: right; display:inline-block; margin: 10px;}
	#pages li{ display:inline-block;}
        #pages li.first{margin: 0px;}
	#pages a {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E3E3E3; color: #333333; display: inline-block;height: 22px;line-height: 22px; padding: 0 10px;text-align: center;}
	#pages li.active a{background-color:#c99;color:#fff;}
	#pages a.a1 {background: url(/images/admin_img/pages.png) no-repeat scroll 0 5px transparent;padding: 0;width: 56px;}
	#pages a:hover {background: none repeat scroll 0 0 #F1F1F1;color: #000000;text-decoration: none;}
	#pages span {background: none repeat scroll 0 0 #5A85B2;border: 1px solid #5A85B2;color: #FFFFFF;display: inline-block;height: 22px;line-height: 22px;padding: 0 10px;text-align: center;}
	.page .noPage {background: url(/img/icu/titleBg.png) repeat-x scroll 0 -55px transparent;border: 1px solid #E3E3E3;color: #A4A4A4;display: inline-block;height: 22px;line-height: 22px;text-align: center;}
	.px_input{ border:1px solid #A7A6AA; height:18px; text-align:center; line-height:18px; width:30px;}
	

#admin_page{}
	.admin_content{ padding:0px 10px; margin-top:-10px; }
	.admin_content .inputxt{ width:190px;} 
	.admin_content td{ border-bottom:1px solid #eee;     padding: 8px 0 5px 8px;}
	#admin_page .submit { text-align:center; margin:10px 0 0 0;background: url(/images/admin_img/x_bg.png) repeat-x  0 -100px #FFFFFF; border-top: 1px solid #F1F1F1; height: 30px; padding: 10px 0; width: 100%; position:fixed; bottom:0; left:0;}
	#admin_page .submit div{ display:inline-block;vertical-align: middle; height:32px; line-height:32px;background: url(/images/admin_img/btn-content.png) no-repeat;zoom:1;*display:inline; margin-right:5px;}
	#admin_page .submit a {background: url(/images/admin_img/btn-content.png) no-repeat;border: medium none;height: 32px;line-height: 32px; margin: 0;vertical-align: middle; display:inline-block;}
	#admin_page .submit a span,#admin_page .submit div .button{background: url(/images/admin_img/btn-content.png) right top no-repeat; display:block; margin-left:5px; padding-right:10px; }
	#admin_page .submit div .button{ border:none; height:32px; margin-right:0px; font-weight:bold; color:#004092;}

.Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;padding-left:20px;background:url(/images/admin_img/Validform/right.png) no-repeat left center;}
.Validform_wrong{color:red;padding-left:20px;white-space:nowrap;background:url(/images/admin_img/Validform/error.png) no-repeat left center;}
.Validform_loading{padding-left:20px;background:url(/images/admin_img/Validform/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
.Validform_info{border:1px solid #ccc; padding:2px 20px 2px 5px; color:#666; position:absolute;display:none;line-height:20px;background-color:#fff;}
.dec {bottom: -8px;display: block; height: 8px;overflow: hidden;position: absolute;left: 10px;width: 17px;}
.dec s {font-family: simsun; font-size: 16px;  height: 19px;left: 0; line-height: 21px;position: absolute; text-decoration: none;top: -9px;width: 17px;}
.dec .dec1 {color: #ccc;}
.dec .dec2 {color: #fff;top: -10px;}


.ncsc-default-table { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncsc-default-table th{ text-align:center; font-weight:normal; padding:5px;}
.ncsc-default-table th span{ margin:0 20px;}
.ncsc-default-table td{ padding:5px;}
.ncsc-default-table td img{ float:left;}
.ncsc-order-amount { color: #c00;font: bold 12px/20px Verdana;}

.ncsc-default-table td,.ncsc-default-table th{ border-bottom:1px solid #eee;}


.ncsc-order-info { font-size: 0; *word-spacing:-1px; border: solid 1px #DDD; position: relative; z-index: 2;}
.ncsc-order-details { background-color: #FBFBFB; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; width: 40%; border-right: solid 1px #DDD;}
.ncsc-order-details .title { font-size: 12px; font-weight: 600; line-height: 20px; background-color: #F3F3F3; height: 20px; padding: 9px; border-bottom: solid 1px #DDD;}
.ncsc-order-details .content { display: block; width: auto; padding: 17px 17px 7px 17px;}
.ncsc-order-details .content dl,
.ncsc-order-contnet .daddress-info { font-size: 0; *word-spacing:-1px/; margin-bottom: 10px;}
.ncsc-order-details .content dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncsc-order-details .content dl dt,
.ncsc-order-details .content dl dd,
.ncsc-order-contnet .daddress-info dt,
.ncsc-order-contnet .daddress-info dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncsc-order-details .content dl dt { color: #888; width: 20%; }
.ncsc-order-details .content dl dd { color: #666; width: 80%; }
.ncsc-order-details .content dl dd span { margin-right: 6px;}
.ncsc-order-details .content dl dd a,
.ncsc-order-contnet .daddress-info dd a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncsc-order-details .content dl dd a:hover,
.ncsc-order-contnet .daddress-info dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncsc-order-details .content dl dd a i,
.ncsc-order-contnet .daddress-info dd a i { font-size: 10px; margin-left: 4px;}
.ncsc-order-details .content dl dd a .more,
.ncsc-order-contnet .daddress-info dd a .more { background-color: #FBFBFB; display: none; width: 323px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -10px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncsc-order-details .content dl dd a:hover .more,
.ncsc-order-contnet .daddress-info dd a:hover .more { display: block;}
.ncsc-order-details .content dl dd a .more .arrow,
.ncsc-order-contnet .daddress-info dd a .more .arrow { background: url(/images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 30px;}
.ncsc-order-details .content dl dd a .more ul {}
.ncsc-order-details .content dl dd a .more li,
.ncsc-order-contnet .daddress-info dd a .more li { line-height: 24px; color: #888;}
.ncsc-container #container { width: 320px; height: 320px;}

.ncsc-order-details .content dl dd a .more li span,
.ncsc-order-contnet .daddress-info dd a .more li span { color: #666; display: inline;}
.ncsc-order-details .content dl dd .msg { text-align: left; margin-top: 5px;}
.ncsc-order-details .content dl dd .msg a { float: none; padding: 0; margin-right: 5px;}

.ncsc-order-condition { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; padding: 20px 30px; }
.ncsc-order-condition dl { font-size: 0; *word-spacing:-1px/*IE6��7*/; display: block; padding-bottom: 15px; margin-bottom: 20px; border-bottom: dotted 1px #E7E7E7;}
.ncsc-order-condition dl dt,
.ncsc-order-condition dl dd { font: normal 16px/32px "microsoft yahei", Arial ; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncsc-order-condition dl dt { margin-left: 30px;}
.ncsc-order-condition dl dt i { font-size: 30px; font-weight: normal; vertical-align: middle; margin-right: 10px;}
.ncsc-order-condition ul { margin-left: 40px;}
.ncsc-order-condition li { display: block; margin-bottom: 10px;}
.ncsc-order-condition li .ncsc-btn-mini { margin: 0 5px;}
.ncsc-order-condition li time { font-family: Tahoma; color: #C63; margin: 0 5px;}

.ncsc-order-step { font-size: 0; *word-spacing:-1px/*IE6��7*/; margin-top: 30px; position: relative; z-index: 1;}
.ncsc-order-step dl { font-size: 12px; line-height: 20px; background: url(/images/admin_img/ncsc_bg_img.png) no-repeat -390px 0; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 210px; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: auto; *zoom: 1/*IE7*/;}
.ncsc-order-step dl.step-first { background-position: -340px 0; width: 36px; margin-left: 50px;}
.ncsc-order-step dl.long { background-position: -215px -170px; width: 385px;}
.ncsc-order-step dl dt { font-weight: 600; text-align: center; min-width: 60px; position: absolute; z-index: 1; top: -30px; right: -12px;}
.ncsc-order-step dl.current dt { color: #27A9E3;}
.ncsc-order-step dl dd.bg { background: url(/images/admin_img/ncsc_bg_img.png) no-repeat -385px -40px; display: none; width: 215px; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncsc-order-step dl.step-first dd.bg { background-position: -340px -40px; width: 36px;}
.ncsc-order-step dl.long dd.bg { background-position: -210px -210px; width: 390px;}
.ncsc-order-step dl dd.date { font: 12px/20px Tahoma, Arial; color: #999; text-align: center; display: none; width: 120px; position: absolute; z-index: 2; bottom: -40px; right: -42px;}
.ncsc-order-step dl.current dd { display: block;}
.ncsc-order-contnet tfoot td { background-color: #F5F5F5;}
.ncsc-order-contnet tfoot td dl { font-size: 0; *word-spacing:-1px/*IE6��7*/; float: right; clear: both; padding: 2px;}
.ncsc-order-contnet tfoot td dl dt,
.ncsc-order-contnet tfoot td dl dd { font-size: 12px; line-height: 20px; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncsc-order-contnet tfoot td dl dt { width: 100px; text-align: right;}
.ncsc-order-contnet tfoot td dl dd { min-width: 120px; text-align: left;}
.ncsc-order-contnet tfoot td .sum {font-weight: 600; color: #666; }
.ncsc-order-contnet tfoot td .sum em { font: 20px/24px Verdana, Arial; color: #C00; vertical-align: bottom; margin: 0 4px;}


a.ncsc-btn-mini { font: normal 12px/20px arial; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 0 10px; margin-right: 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncsc-btn-mini { text-decoration: none; color: #333; background-color: #E6E6E6;border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncsc-btn { font: normal 12px/20px "microsoft yahei"; text-decoration: none; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; padding: 4px 10px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncsc-btn { text-decoration: none; color: #333; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncsc-btn-mini i, a.ncsc-btn i { font-size: 14px; vertical-align: middle; margin-right: 4px;}
a.ncsc-btn-blue, a.ncsc-btn-acidblue, a.ncsc-btn-green, a.ncsc-btn-orange, a.ncsc-btn-red, a.ncsc-btn-black,
a:hover.ncsc-btn-blue, a:hover.ncsc-btn-acidblue, a:hover.ncsc-btn-green, a:hover.ncsc-btn-orange, a:hover.ncsc-btn-red, a:hover.ncsc-btn-black, .nscs-table-handle a.btn-orange-current { color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.10);}
a.ncsc-btn-blue,
.nscs-table-handle a:hover.btn-blue  { background-color: #006DCC; border-color: #0062B7 #0062B7 #005299 #0062B7;}
a.ncsc-btn-acidblue,
.nscs-table-handle a:hover.btn-acidblue { background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8;}
a.ncsc-btn-green,
.nscs-table-handle a:hover.btn-green { background-color: #5BB75B; border-color: #52A452 #52A452 #448944 #52A452;}
a.ncsc-btn-orange,
.nscs-table-handle a:hover.btn-orange,
.nscs-table-handle a.btn-orange-current { background-color: #FAA732; margin: 0; border-style: solid; border-width: 1px; border-color: #E1962D #E1962D #BB7D25 #E1962D !important;}
a.ncsc-btn-red,
.nscs-table-handle a:hover.btn-red { background-color: #DA4F49; border-color: #C44742 #C44742 #A33B37 #C44742;}
a.ncsc-btn-black,
.nscs-table-handle a:hover.btn-black { background-color: #363636; border-color: #313131 #313131 #282828 #313131;}
a:hover.ncsc-btn-blue{ background-color: #0044CC; border-color: #003DB7 #003DB7 #003399 #003DB7;}
a:hover.ncsc-btn-acidblue { background-color: #2F96B4; border-color: #2A87A2 #2A87A2 #237087 #2A87A2;}
a:hover.ncsc-btn-green { background-color: #51A351; border-color: #499249 #499249 #3D7A3D #499249;}
a:hover.ncsc-btn-orange { background-color: #F89406; border-color: #DF8505 #DF8505 #BA6F04 #DF8505;}
a:hover.ncsc-btn-red { background-color: #BD362F; border-color: #AA312A #AA312A #8E2823 #AA312A;}
a:hover.ncsc-btn-black { background-color: #222222; border-color: #1F1F1F #1F1F1F #191919 #1F1F1F;}

.ncsc-upload-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 80px; height: 30px; margin: 5px 5px 0 0; *zoom:1;}
.ncsc-upload-btn a { display: block; position: relative; z-index: 1;}
.ncsc-upload-btn span { width: 80px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.ncsc-upload-btn .input-file { width: 80px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.ncsc-upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 78px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.ncsc-upload-btn p i { vertical-align: middle; margin-right: 4px;}
.ncsc-upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}

.show-album { font-size: 12px; color: #666; line-height: 20px; background-color: #F5F5F5; vertical-align: middle; display: inline-block; height: 20px; padding: 4px 8px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; }
.show-album i { margin-right: 4px;}
.show-album:hover { color: #333; text-decoration: none; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF}

.submit-border { display: inline-block; *display: inline/*IE6,7*/; border: solid 1px; border-color: #52A452 #52A452 #448944 #52A452; zoom:1;}
input[type="submit"], input.submit, a.submit { font-size: 12px; font-weight: bold; color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); background-color: #5BB75B; display: inline-block; height: 30px; padding: 0 20px 2px 20px; border: 0; cursor: pointer; }
.submit-border:hover { borderd-color: #499249 #499249 #3D7A3D #499249;}
input[type="submit"]:hover, input.submit:hover, a.submit:hover { text-decoration: none; color: #FFF; background-color: #51A351;}

/* �˿��������
-------------------------------------------*/
.ncsc-flow-layout,
.ncsc-flow-item dl { font-size: 0; *word-spacing:-1px/*IE6��7*/; }
.ncsc-flow-container,
.ncsc-flow-item,
.ncsc-flow-item dt,
.ncsc-flow-item dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncsc-flow-container { width: 60%; padding: 0 10px; border-right: solid 1px #DDD;}
/* �Ҳ���Ʒ���� */
.ncsc-flow-item {padding: 0 10px;}
.ncsc-flow-item a { color: #09C;}
.ncsc-flow-item .title { font-size: 14px; font-weight: 600; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncsc-flow-item .item-goods dl { margin: 10px 0; padding-bottom: 10px; border-bottom: solid 1px #EEE;}
.ncsc-flow-item .item-goods dt {padding: 0 10px;}
.ncsc-flow-item .item-goods dd { width: 212px;}
.ncsc-flow-item .item-goods dd a { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ncsc-flow-item .item-order dl { margin-bottom: 8px;}
.ncsc-flow-item .item-order dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncsc-flow-item .item-order dt { color: #888; text-align: right; width: 22%; margin-right: 1%;}
.ncsc-flow-item .item-order dd { color: #666; width: 75%; }
.ncsc-flow-item .item-order dl dd span { margin-right: 6px;}
.ncsc-flow-item .item-order dl dd .a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncsc-flow-item .item-order dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncsc-flow-item .item-order dl dd .a i { font-size: 10px; margin-left: 4px;}
.ncsc-flow-item .item-order dl dd .a .more { background-color: #FBFBFB; display: none; width: 268px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -5px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncsc-flow-item .item-order dl dd .a:hover .more { display: block;}
.ncsc-flow-item .item-order dl dd .a .more .arrow { background: url(/images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 25px;}
.ncsc-flow-item .item-order dl dd .a .more ul {}
.ncsc-flow-item .item-order dl dd .a .more li { line-height: 24px; color: #888;}
.ncsc-flow-item .item-order dl dd .a .more li span { color: #666; display: inline;}
/* ����������� */
.ncsc-flow-container .title { height: 20px; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncsc-flow-container .title h3 { font-size: 14px; font-weight: 600; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncsc-flow-container .refund-type-box { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 100px; height: 20px; position: relative; z-index: 2; *zoom: 1/*IE*/;}
.ncsc-flow-container .refund-type-box i { background: url(/images/member/member_pics.png) no-repeat -370px -90px; width: 17px; height: 17px; position: absolute; z-index: 1; top: 2px; right: 0;}
.ncsc-flow-container .refund-type-box:hover i { background-position: -370px -107px;}
.ncsc-flow-container .refund-type-text { font-size: 14px; font-weight: 600; color: #EC4F4A; width: 100%; height: 20px; user-select: none; -webkit-user-select: none; -moz-user-select: none; position: absolute; z-index: 2; top: 0; left: 0; cursor: pointer;}
.ncsc-flow-container .refund-type-option { display: none; background: #fff; width: 100%; position: absolute; z-index: 1; top: 22px; left: -1px; border: 1px solid #CCC;}
.ncsc-flow-container .refund-type-option li { height: 20px; padding: 4px; color: #555; cursor: pointer;}
.ncsc-flow-container .refund-type-option li.seleced { background: #39F; color: #fff;}
/* ���̲��� */
.ncsc-flow-step { font-size: 0; *word-spacing:-1px/*IE6��7*/; margin-top: 30px;}
.ncsc-flow-step dl { font-size: 12px; line-height: 20px; background: url(/images/admin_img/ncsc_bg_img.png) no-repeat; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: -1; *zoom: 1/*IE7*/;}
.ncsc-flow-step dl.step-first { background-position: -390px 0px !important; width: 36px !important;}
.ncsc-flow-step dl dt { font-weight: 600; color: #999; text-align: center; width: 120px; position: absolute; z-index: 1; top: -30px; right: -42px;}
.ncsc-flow-step dl.current dt { color: #27A9E3;}
.ncsc-flow-step dl dd.bg { background: url(/images/admin_img/ncsc_bg_img.png) no-repeat; display: none; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncsc-flow-step dl.step-first dd.bg { background-position: -340px -40px !important; width: 36px !important;}
.ncsc-flow-step dl.current dd { display: block;}
/* �˿� */
#saleRefund .ncsc-flow-step dl { background-position: -390px 0; width: 210px; }
#saleRefund .ncsc-flow-step dl.step-first { margin-left: 90px;}
#saleRefund .ncsc-flow-step dl dd.bg {  background-position: -385px -40px; width: 215px;}
/* �˻� */
#saleRefundReturn .ncsc-flow-step dl { background-position: -430px 0; width: 170px;}
#saleRefundReturn .ncsc-flow-step dl.step-first { margin-left: 40px;}
#saleRefundReturn .ncsc-flow-step dl dd.bg {  background-position: -425px -80px; width: 175px;}
/* Ͷ�� */
#ncscComplainFlow .ncsc-flow-step dl { background-position: -465px 0px; width: 135px;}
#ncscComplainFlow .ncsc-flow-step dl.step-first { margin-left: 35px;}
#ncscComplainFlow .ncsc-flow-step dl dd.bg { background-position: -460px -120px; width: 140px;}
/* �ύ�? */
.ncsc-flow-container .ncsc-form-default dl dt { width: 19%;}
.ncsc-flow-container .ncsc-form-default dl dd { width: 79%;}
/* ��֤ͼƬ�б� */
.ncsc-evidence-pic { font-size: 0; *word-spacing:-1px/*IE6��7*/; }
.ncsc-evidence-pic li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 60px; height: 60px; padding: 4px; margin-right: 10px; border: solid 1px #F5F5F5; *zoom: 1/*IE7*/;}
.ncsc-evidence-pic li a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 100px; height:60px; overflow: hidden;}
.ncsc-evidence-pic li a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}

/* ͨ��ҳ�ڱ?�ύ������ʽ */
.ncsc-form-default {}
.ncsc-form-default h3 { font-size: 12px; font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncsc-form-default dl { font-size: 0; *word-spacing:-1px/*IE6��7*/; line-height: 20px; clear: both; padding: 0; margin: 0; border-bottom: dotted 1px #E6E6E6; overflow: hidden;}
.ncsc-form-default dl:hover { background-color: #FCFCFC;}
.ncsc-form-default dl:hover .hint { color: #666;}
.ncsc-form-default dl.bottom { border-bottom-width: 0px;}
.ncsc-form-default dl dt { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 19%; padding: 10px 1% 10px 0; margin: 0;}
.ncsc-form-default dl dt { *display: inline/*IE6,7*/;}
.ncsc-form-default dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncsc-form-default dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 79%; padding: 10px 0 10px 0; }
.ncsc-form-default dl dd { *display: inline/*IE6,7*/; zoom: 1;}
.ncsc-form-default dl dd span { *line-height: 20px; *display: inline; *height: 20px; *margin-top: 6px; *zoom:1;}
.ncsc-form-default dl dd p { clear: both;}
.ncsc-form-default div.bottom { text-align: center;}
.ncsc-form-default .ncsc-upload-thumb { background-color: #FFF; border: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncsc-form-default .ncsc-upload-thumb:hover { border-style: solid; border-color: #27A9E3;}
.ncsc-form-default .ncsc-upload-thumb p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE6,7*/; width: 100px; height: 100px; overflow: hidden;}
.ncsc-form-default .ncsc-upload-thumb i { font-size: 48px; color: #CCC;}
.ncsc-form-default .ncsc-upload-thumb a { font: 10px/14px Tahoma; background-color: #FFF; text-align: center; vertical-align: middle; display: none; width: 14px; height: 14px; border: 1px solid; border-radius: 8px 8px 8px 8px; position: absolute; z-index: 2; top: -8px; right: -8px;}
.ncsc-form-default .ncsc-upload-thumb:hover a { color: #27A9E3; display: block; border-color: #27A9E3;}
.ncsc-form-default .ncsc-upload-thumb:hover a:hover { text-decoration: none;}
.ncsc-form-default .ncsc-upload-thumb.store-logo,
.ncsc-form-default .ncsc-upload-thumb.store-logo p { width: 200px; height: 60px;}
.ncsc-form-default .ncsc-upload-thumb.store-logo p img { max-width: 200px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.store-banner,
.ncsc-form-default .ncsc-upload-thumb.store-banner p { width: 638px; height: 158px;}
.ncsc-form-default .ncsc-upload-thumb.store-banner p img { max-width: 638px; max-height: 158px; margin-top:expression(158-this.height/2); *margin-top:expression(79-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic,
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic p { width: 160px; height: 160px;}
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic p img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic,
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic p { width: 440px; height: 293px;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic p img { max-width: 440px; max-height: 293px; margin-top:expression(293-this.height/2); *margin-top:expression(146-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic,
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic p { width: 210px; height: 180px;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic p img { max-width: 210px; max-height: 180px; margin-top:expression(180-this.height/2); *margin-top:expression(90-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.voucher-pic,
.ncsc-form-default .ncsc-upload-thumb.voucher-pic p { width: 100px; height: 100px;}
.ncsc-form-default .ncsc-upload-thumb.voucher-pic p img { max-width: 100px; max-height: 100px; margin-top:expression(100-this.height/2); *margin-top:expression(50-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.watermark-pic,
.ncsc-form-default .ncsc-upload-thumb.watermark-pic p { width: 100px; height: 100px;}
.ncsc-form-default .ncsc-upload-thumb.watermark-pic p img { max-width: 100px; max-height: 100px; margin-top:expression(100-this.height/2); *margin-top:expression(50-this.height/2)/*IE6,7*/;}

.ncsc-form-default .ncsc-upload-thumb.bobing-pic,
.ncsc-form-default .ncsc-upload-thumb.bobing-pic p { width: 155px; height: 90px;}
.ncsc-form-default .ncsc-upload-thumb.bobing-pic p img { max-width: 155px; max-height: 90px; margin-top:expression(100-this.height/2); *margin-top:expression(50-this.height/2)/*IE6,7*/;}

.ncsc-form-default .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncsc-form-default .upload-appeal-pic p { padding: 5px;}
.ncsc-form-default .handle { height: 30px; margin: 10px 0;}

 .textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #777;
    display: inline-block;
    font: 12px/20px Arial;
    height: 60px;
    outline: 0 none;
    padding: 4px;
    vertical-align: top;
}
.showMsg{ text-align: center;}
.showMsg *{ padding:0; margin:0; font-size:12px}
.showMsg .guery {white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */	word-wrap: break-word; /* Internet Explorer 5.5+ */}
.showMsg a:link,.showMsg a:visited{text-decoration:none;color:#0068a6}
.showMsg a:hover,.showMsg a:active{color:#ff6600;text-decoration: underline}
.showMsg{border: 1px solid #1e64c8; zoom:1; width:450px; height:124px;position:absolute;top:50%;left:50%;margin:-87px 0 0 -225px}
.showMsg h5{background-image: url(/images/admin_img/msg_title.png);background-repeat: no-repeat; color:#fff; padding-left:35px; height:25px; line-height:26px;*line-height:28px; overflow:hidden; font-size:14px; text-align:left}
.showMsg .content{ padding:26px 12px 0px 45px; font-size:14px; height:46px;}
.showMsg .bottom{ background:#e4ecf7; margin: 0 1px 1px 1px;line-height:26px; *line-height:30px; height:26px; text-align:center}
.showMsg .ok,.showMsg .guery{background: url(/Images/msg_title.png) no-repeat 0px -560px;}
.showMsg .guery{background-position: left -460px;}